@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color-darker: rgba(34, 101, 85, 0.823);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: linear-gradient(to right, rgb(36, 105, 73), rgb(144, 211, 201));
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
header{
    width: 100%;
     position: relative;
     background: linear-gradient(180deg, #3b254f 0%, #099768 100%);
     display: flex;
     align-items: center;
     justify-content: center;
 
     padding: 2.5rem 2.25rem;
 }
.font{
 font-family: serif;
 color: rgb(137, 177, 168);
 }

.container {
    
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
h1{
    font-weight: 500;
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form button {
  border: none;
  background: linear-gradient(to right, rgb(178, 219, 219), rgb(49, 123, 120));
  color: rgb(65, 81, 78);
  font-size: 22px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.error-text {
  font-size: 12px;
  color: red;
}
